<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crossdo.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="entity.org/crossdo.Project">
            <id property="projectId" column="project_id" jdbcType="CHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userAge" column="user_age" jdbcType="TINYINT"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="projectStatus" column="project_status" jdbcType="TINYINT"/>
            <result property="verificationRecord" column="verification_record" jdbcType="VARCHAR"/>
            <result property="currentVolunteer" column="current_volunteer" jdbcType="CHAR"/>
            <result property="previousVolunteers" column="previous_volunteers" jdbcType="VARCHAR"/>
            <result property="questionIsVolunteerAssigned" column="question_is_volunteer_assigned" jdbcType="TINYINT"/>
            <result property="currentDisputeId" column="current_dispute_id" jdbcType="CHAR"/>
            <result property="projectCreateTime" column="project_create_time" jdbcType="TIMESTAMP"/>
            <result property="donationPoolLimit" column="donation_pool_limit" jdbcType="INTEGER"/>
            <result property="currentDonationsReceived" column="current_donations_received" jdbcType="INTEGER"/>
            <result property="currentUsedDonations" column="current_used_donations" jdbcType="INTEGER"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="pathography" column="pathography" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,user_name,user_age,
        real_name,project_status,verification_record,
        current_volunteer,previous_volunteers,question_is_volunteer_assigned,
        current_dispute_id,project_create_time,donation_pool_limit,
        current_donations_received,current_used_donations,last_update_time,
        pathography
    </sql>
</mapper>
