<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crossdo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="entity.org/crossdo.User">
            <id property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="userPermission" column="user_permission" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="CHAR"/>
            <result property="personalNote" column="personal_note" jdbcType="VARCHAR"/>
            <result property="realNameAuthentication" column="real_name_authentication" jdbcType="TINYINT"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
            <result property="existingProjects" column="existing_projects" jdbcType="TINYINT"/>
            <result property="projectId" column="project_id" jdbcType="CHAR"/>
            <result property="weixinOpenid" column="weixin_openid" jdbcType="CHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="CHAR"/>
            <result property="userAge" column="user_age" jdbcType="TINYINT"/>
            <result property="registrationDate" column="registration_date" jdbcType="TIMESTAMP"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="currentDisputeId" column="current_dispute_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_permission,user_name,
        passwd,avatar,real_name,
        id_card,personal_note,real_name_authentication,
        user_status,existing_projects,project_id,
        weixin_openid,phone_number,user_age,
        registration_date,login_time,current_dispute_id
    </sql>
</mapper>
